@{
    ViewBag.Title = "AskQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/css/default.css" rel="stylesheet" />
<link href="~/css/prettify.css" rel="stylesheet" />
<script src="~/js/kindeditor-min.js"></script>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/zh_CN.js"></script>
<script src="~/js/jquery.form.js"></script>
<script src="~/js/prettify.js"></script>
<script src="~/js/Common.js"></script>
<style type="text/css">
    #menu {
        font-size:14px;
        padding:10px 10px 1px 0px;
        border-bottom:2px solid #000000;
    }
    #ask_question {
        border-bottom:2px solid #000000;
        font-size:16px;
    }
    .tips li{
        padding:5px;
        line-height:17px;
       
    }
</style>
<div id="location">

    <div id="left">

        <div id="menu">
            当前位置：网上答疑 > 我要提问
        </div>
        <div id="search">
            <span class="rightdiv">搜索提问：</span>
            <input type="text" id="keyword" style="width:150px;height:25px"/>
            <input id="sbmSearch" style="width:80px;height:25px" type="button" value="搜索"/>               
        </div>       
        <div id="ask_question">
            我要提问
        </div>
        <form id="sub_question">
            <div class="sizesmall padding5">          
                <span id="man" class="sizesmall">提问人:蔡冬冬</span><input name="regman" type="hidden" value="蔡冬冬"/>@*regman*@
                <span id="date" class="float_right sizesmall">提问时间：@DateTime.Now</span><input name="regdate" type="hidden" value="@DateTime.Now"/>
                <input name="regmanid"  type="hidden" value="2"/>@*regmanid*@
                <input name="state"  type="hidden" value="1"/>@*0已解决1未解决*@
                <input name="ishot"  type="hidden" value="false"/>@*0已解决1未解决*@
            </div>
            <div class="sizesmall padding5">
                <span>模块分类： </span>  
                    <select name="typeid">
                   @foreach (var i in ViewBag.Types) 
                   {
                       <option value="@i.Id">@i.typename</option>
                   }
                    </select>
            </div>
            <div>
                <div class="sizesmall padding5">问题标题：<input type="text" id="title" name="title" style="height:20px;width:100%"/></div>           
               <div class="sizesmall padding5">问题描述：</div>           
               <textarea id="content" name="content" style=" width:100%;height:200px;visibility:hidden; resize:none" ></textarea>

            </div>
            <div  class="text_centre sizesmall padding5"><input type="button" id="sub_button" value="提交问题"/></div>
        </form>
    </div>
    <div id="right"> 
    <div class="text_centre" style="margin-top:20px;">
        <a href="@Url.Action("Question")" class="sizemiddle">
            返回主页
        </a>
    </div>
        <div class="text_centre sizemiddle">提问助手小贴士</div>
        <div class="tips">
            <ul>
                <li>1.提问前可以先搜索相关的问题，看是否已经有过得到解决的类似问题</li>
                <li>2.在提问是问题竟可能的描述清晰，以便工作人员帮你快速解答</li>
                <li>3.您的问题，会在24小时内解答</li>
            </ul>          
        </div>      
        <div class="sizemiddle text_centre">热门问题</div>      
        <ul class="tips list">
            @foreach(var i in ViewBag.HotQuestion)
            {
            <li class="hand text_dot" onclick="GoDetail(@(i.Id))">@i.title</li>          
            }
        </ul>
    </div>
</div>
<script type="text/javascript">
    $("#sbmSearch").click(function () {
        SearchQuestion($("#keyword").val(),1);
    });

    var editor;
    KindEditor.ready(function (K) {
        editor = K.create('textarea[name="content"]', {
            afterBlur: function () { this.sync(); },
            resizeType: 0,
            allowPreviewEmoticons: true,
            allowImageUpload: true,
            items: [
                'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                'insertunorderedlist', '|', 'emoticons', 'image', 'link', 'insertfile'],
            afterCreate: function () {
                var self = this;
                K.ctrl(document, 13, function () {
                    self.sync();
                    K('form[name=example]')[0].submit();
                });
                K.ctrl(self.edit.doc, 13, function () {
                    self.sync();
                    K('form[name=example]')[0].submit();
                });
            }

        });
        prettyPrint();
    });

    $(function () {
        $("#sub_button").click(function () {
            if ($("#content").val()=="" || $("#title").val()=="") {
                alert("请填写完整");
                return;
            }
        
            $("#sub_question").ajaxSubmit({
                url: '@Url.Action("AddQuestionV2")',
                type: 'GET',
                success: function (ret) {
                    alert("添加成功");                   
                },
                error: function (xhr, msg) {
                    alert(msg);
                }
            });
        });
    });

    function GoDetail(o) {
        window.location.href = "@Url.Action("QuestionDetail")?Qid=" + o;
    }
</script>















            
 