@model IEnumerable<QADAL.EntityFrameWorkCore.Models.Question>

@{
    ViewBag.Title = "Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/default.css" rel="stylesheet" />
<script src="~/js/kindeditor-min.js"></script>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/zh_CN.js"></script>
<script src="~/js/jquery.form.js"></script>
<script src="~/js/Common.js"></script>
<style type="text/css">
    #hide_answer {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        display: none;
    }

    #bg {
        width: 100%;
        height: 100%;
        /**透明层兼容**/
        filter: alpha(opacity=30);
        -moz-opacity: 0.3;
        -khtml-opacity: 0.3;
        opacity: 0.3;
        background-color: black;
        z-index: 0;
        position: fixed;
    }

    #nr {
        border: 1px solid red;
        width: 700px;
        height: 400px;
        margin: 100px auto 0px;
        /*background-image:url("../image/background_white.png");*/
        background-color: #fff;
        z-index: 900;
        position: relative;
        padding: 10px;
    }

    #questions {
        min-height: 700px;
    }

    #paging span {
        padding: 0 10px;
    }
</style>
<div id="left">
     <div>
        <div class="parent_line">
            <ul id="parent_type" >
                <li class="float_left" etype="allquestion">所有问题</li>
                <li class="float_left" etype="myquestion">我的答疑</li>
                <li class="float_left" etype="collect">答疑收藏</li>
                
            </ul>
            <span class="float_right sizemiddle" ><a href="@Url.Action("EditorHot")">编辑问题</a></span>
            <div class="clear"></div>
        </div>
        <ul class="child_type "id="child_type">
            <li class="float_left" etype="unsolved" id="unsolved">待解决问题</li>
            <li class="float_left" etype="resolved" id="resolved">已解决问题</li>
            <li class="float_left" etype="all" id="all">所有问题</li>
            <li class="float_left hide"  etype="collect" id="mycollect">我的收藏</li>   
        </ul>
        <div class="clear"></div>                   
     </div>
     <div class="clear"></div>
    <div id="questions">
@*@foreach (var item in Model) {
    <div class="blackline">
        <div class="title hand" >
               <div onclick="GoDetail(@item.Id)"> 请问：@if(item.title.Length>13)
                                                     {
                                                        @item.title.Substring(0,13)<span>...</span>
                                                     }
                                                     else
                                                     {
                                                        @item.title
                                                     }
                                                                                  
               </div>
            <div class="float_right" onclick="AddFav(@item.Id)">
                ★添加收藏夹
            </div>
        </div>
        <div class="content">
                @(new HtmlString(item.content.Replace("<p>","").Replace("</p>","")))
        </div>
        <div>
            <ul class="detail">
                <li class="float_left">分类：@Html.DisplayFor(modelItem => item.Type.typename)</li>
                <li class="float_left">提问人：@Html.DisplayFor(modelItem => item.regman)</li>
                <li class="float_left">提问时间：@item.regdate.Value.ToString("yyyy-MM-dd")</li>
                <div class="clear"></div>
            </ul>
        </div>
        @if (item.Answers.FirstOrDefault()!=null){
        <div class="answer">
            <div class="title">
                回答:
            </div>
            <div class="content">
               @(new HtmlString(item.Answers.FirstOrDefault().answercontent))
            </div>
            <div>
            <ul class="detail">
                <li class="float_left">回答人：@(item.Answers.FirstOrDefault().answerman)</li>
                <li class="float_left">回答时间：@item.Answers.FirstOrDefault().answerdate.Value.ToString("yyyy-MM-dd")</li>
                <div class="clear"></div>
           </ul>
        </div>      
        </div>
        }
        @if (item.state == "1")
        {
            <div class="sizesmall text_centre"><span style="color:red;cursor:pointer" onclick="SubAnswer(@Html.DisplayFor(modelItem => item.Id))">回答问题</span></div> 
        }
    </div>       
}*@
    </div>
     <div id="paging">
         <span id="page_up" class="hand">上一页</span>
         <span id="page_down"  class="hand">下一页</span>
         <span>跳转到第</span> 
         <input type="text" value="@ViewBag.page"/>
         <span  class="hand" id="page_go">GO</span>
        @* <span>当前第@(ViewBag.page)页</span>*@
         <span>共@(ViewBag.allpage)页</span>
         <span>共@(ViewBag.count)条记录</span>

     </div>
</div>
<div id="right" class="text_centre">
    @Html.Partial("RightContent")
</div>
<div class="clear"></div>
<div id="hide_answer">
    <div id="bg">
       
    </div>
    <form id="sub_answer">
        <div id="nr">
            <span class="sizebig float_right hand" id="close_hide">×</span>            <!--层内的内容-->
            <input id="hide_Qid" name="Qid" value=""/>
            <div class="sizemiddle">问答问题：</div>
            <br />
            <div>
                <textarea id="content" name="answercontent" style=" width:100%;height:300px;visibility:hidden; resize:none" ></textarea>
            </div>
            <div style="margin:15px auto;width:80px;"><input " id="submit" type="button"  value="提交" style="width:80px;height:30px;font-size:16px;"/></div>            
        </div>
    </form>
</div>
<br />
<br />
<br />
<input id="parenttype" value="allquestion"/>
<input id="childtype" value="resolved"/>
<input id="page" value="@ViewBag.page" />
<input id="module" value="0"/>

<script type="text/javascript">

    $(function () {
        //QuestionPaging();
        $("li[etype='allquestion']").click();
    });


    //选择父菜单
    $("#parent_type").children().click(function () {
        $("#parent_type").children().css({ "background-color": "", "color": "black" });
        $(this).css({ "background-color": "#00A1E0", "color": "white" });
        allshow();
        $("#child_type").children().css("background-color", "#F1FCFE");
        switch ($(this).attr("etype")) {
            case "allquestion":
                $("#mycollect").hide();
                $("#unsolved").css("background-color", "#AAAAAA");
                $("#childtype").val($("#unsolved").attr("etype"));
                break;
            case "myquestion":
                $("#mycollect").hide();
                $("#all").hide();
                $("#unsolved").css("background-color", "#AAAAAA");
                $("#childtype").val($("#unsolved").attr("etype"));
                break;
            case "collect":
                $("#unsolved").hide();
                $("#resolved").hide();
                $("#all").hide();
                $("#mycollect").css("background-color", "#AAAAAA");
                $("#childtype").val($("#mycollect").attr("etype"));
                break;
        }
        $("#parenttype").val($(this).attr("etype"));
        $("#page").val(1);
        QuestionPaging();
    });

    //选择子菜单
    $("#child_type").children().click(function () {
        $("#child_type").children().css("background-color", "#F1FCFE");
        $(this).css("background-color", "#AAAAAA");
        $("#childtype").val($(this).attr("etype"));
        $("#page").val(1);
        QuestionPaging();
    });

    function allshow() {
        $("#unsolved").show();
        $("#resolved").show();
        $("#all").show();
        $("#mycollect").show();
    }

    //上一页
    $("#page_up").click(function () {
        var temp = parseInt($("#page").val()) - 1;
        $("#page").val(temp <= 0 ? 1 : temp);
        QuestionPaging();
    });
    //下一页
    $("#page_down").click(function () {
        var temp = parseInt($("#page").val()) + 1;
        var allpage =@(ViewBag.allpage)
        $("#page").val(temp > allpage ? allpage : temp);
        @*window.location.href = '@Url.Action("Question")?module=' + $("#module").val() + '&page=' + $("#page").val() + '&parenttype=' + $("#parenttype").val() + '&childtype=' + $("#childtype").val();*@
        QuestionPaging();
    });
    //GO
    $("#page_go").click(function () {

        var temp = parseInt($("#page").val());


        if (temp > allpage) {
            temp = allpage;
        }
        if (temp < 1) {
            temp = 1;
        }

        $("#page").val(temp > allpage ? allpage : temp);

        @*window.location.href = '@Url.Action("Question")?module=' + $("#module").val() + '&page=' + $("#page").val() + '&parenttype=' + $("#parenttype").val() + '&childtype=' + $("#childtype").val();*@
        QuestionPaging();
    });


    function QuestionPaging() {
        var module = $("#module").val();
        var page = $("#page").val();
        var parenttype = $("#parenttype").val();
        var childtype = $("#childtype").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetQuestionByPage")',
            data: { "module": module, "page": page, "parenttype": parenttype, "childtype": childtype },
            dataType: "json",
            success: function (data) {

                //动态写出问题列表

                var str = "";
                for (var i = 0; i < data.length; i++) {
                    str += '<div class="blackline"><div class="title"><div class="hand title8 sizebig"   onclick="GoDetail(' + data[i].Id + ')">请问:' + data[i].title + '</div><div class="float_right hand" onclick="AddFav(' + data[i].Id + ')">★添加收藏夹</div></div><div class="content">' + maxtext13(data[i].content) + '</div><div><ul class="detail"><li class="float_left">分类：' + data[i].Type.typename + '</li><li class="float_left">提问人：' + data[i].regman + '</li><li class="float_left">提问时间：' + dateparse(data[i].regdate) + '</li><div class="clear"></div></ul></div>';
                    if (data[i].Answer.answercontent != null) {
                        str += '<div class="answer"><div class="title">回答:</div><div class="content">' + data[i].Answer.answercontent + '</div><div><ul class="detail"><li class="float_left">回答人：' + data[i].Answer.answerman + '</li><li class="float_left">回答时间：' + dateparse(data[i].Answer.answerdate) + '</li><div class="clear"></div></ul></div></div>';
                    }
                    if (data[i].state == "1") {
                        str += '<div class="sizesmall text_centre"><span style="color:red;cursor:pointer" onclick="SubAnswer(' + data[i].Id + ')">回答问题</span></div> ';
                    }
                    str += '</div>';
                }
                $("#questions").html(str);
            },
            error: function (msg) {
                alert("error")
            }

        });
    }

    var editor;
    KindEditor.ready(function (K) {
        editor = K.create('textarea[id="content"]', {
            afterBlur: function () { this.sync(); },
            resizeType: 0,
            allowPreviewEmoticons: false,
            allowImageUpload: true,
            items: [
                'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                'insertunorderedlist', '|', 'emoticons', 'image', 'link']
        });
    });

    function SubAnswer(item) {
        $("#hide_Qid").val(item);
        $("#hide_answer").show();
        scroll(0, 0);
    }
    $("#close_hide").click(function () {
        $("#hide_answer").hide();

    });

    $("#submit").click(function () {
        $("#sub_answer").ajaxSubmit({

            url: '@Url.Action("AddAnswer")',
            type: 'POST',
            success: function () {
                alert("添加成功");
                $("#hide_answer").hide();
            },
            error: function (xhr, msg) {
                alert(msg);
            }


        });

    });

        function GoDetail(o) {
            window.location.href = "@Url.Action("QuestionDetail")?Qid=" + o;
    }


    function AddFav(o) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddFavorite")',
            data: { "Qid": o },
            success: function (str) {
                alert(str);
            }
        });
    }





    $("img").css({ "width": "80px", "heigth": "80px" });


</script>