<div class="rightdiv">
    <input id="keyword" type="text" style="width: 70%; height: 25px; position:relative; top:-2px;" /><input id="sbmSearch" type="button" value="搜索" style="width: 28%; height: 25px;"  />
</div>
@*<div class="rightdiv button button_bg">
        <span id="has_question" class="sizemiddle hand ">我要提问</span>
    </div>*@
<div class="text_centre btn-primary" style="margin-top: 20px;">
    <span id="has_question" class="sizemiddle hand ">
        我要提问
    </span>
</div>
<div class="module_type">

    <ul class="list">
        @foreach (var i in ViewBag.TypeList)
        {
            <li class="type type_bg" onclick="SelectType(@i.Id,this) " style="position:relative; color:white"><img src="~/image/@(i.img)" style=" position:absolute; left:15px;top:8px;" />@i.typename</li>
        }


        <li class="type type_bg" onclick="SelectType(-1,this)" style="color:white">全部</li>
    </ul>
</div>
<br />
<div class="text_centre btn-primary" style="margin-top: 20px;">
    <span class="sizemiddle hand ">
        热门问题
    </span>
</div>
<ul class="tips list">
    @foreach (var i in ViewBag.HotQuestion)
            {
        <li class="hand text_dot" onclick="GoDetail(@(i.Id))">@i.title</li>
    }
</ul>



@*  <div class="module_type">
        <div class="titlediv">
            模块分类
        </div>
        <ul class="list">
        @foreach (var i in ViewBag.TypeList)
        {
            <li class="type">@i.typename</li>
        }
        </ul>
    </div>
    <div class="clear"></div>*@
<script type="text/javascript">

    $("#sbmSearch").click(function () {
        SearchQuestion($("#keyword").val(), 1);
    });
    function SelectType(o, obj) {
        $("#module").val(o);
        $(obj).parent().children().removeClass("type_bg1");
        $(obj).addClass("type_bg1");

        QuestionPaging();
    }
    $("#has_question").click(function () {
        window.location.href = '@Url.Action("AskQuestion")';
    });
</script>
