@model IList<QADAL.EntityFrameWorkCore.Models.Question>

@{
    ViewBag.Title = "SearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="keyword" value="@ViewBag.keyword" />
<input type="hidden" id="page" value="@ViewBag.page"/>
<div style="min-height:500px">
@if (Model.Count == 0)
{
    <div style="margin:10px;color:red">暂无数据</div>
}
else
{
    foreach (var item in Model)
    {
    <div class="blackline">
        <div class="title">
            <div class="hand title8 sizebig" onclick="GoDetail(@item.Id)"> 请问： @Html.DisplayFor(modelItem => item.title)</div><div class="float_right hand" onclick="AddFav(@item.Id)">★添加收藏夹</div>
        </div>
        <div class="content">
            @(new HtmlString(item.content))
        </div>
        <div>
            <ul class="detail">
                <li class="float_left">分类：@Html.DisplayFor(modelItem => item.Type.typename)</li>
                <li class="float_left">提问人：@Html.DisplayFor(modelItem => item.regman)</li>
                <li class="float_left">提问时间：@Html.DisplayFor(modelItem => item.regdate)</li>
                <li class="clear"></li>
            </ul>
        </div>
        @if (item.Answers.FirstOrDefault() != null)
        {
            <div class="answer">
                <div class="title">
                    回答:
                </div>
                <div class="content">
                    @(item.Answers.FirstOrDefault() == null ? "" : item.Answers.FirstOrDefault().answercontent)
                </div>
                <div>
                    <ul class="detail">
                        <li class="float_left">回答人：@(item.Answers.FirstOrDefault() == null ? "" : item.Answers.FirstOrDefault().answerman)</li>
                        <li class="float_left">回答时间：@(item.Answers.FirstOrDefault() == null ? DateTime.Now : item.Answers.FirstOrDefault().answerdate)</li>
                        <li class="clear"></li>
                    </ul>
                </div>
            </div>
        }
        @if (item.state == "1" && ViewBag.user == "贾如")
        {
            <div class="sizesmall text_centre"><span style="color:red;cursor:pointer" onclick="SubAnswer(@Html.DisplayFor(modelItem => item.Id))">回答问题</span></div>
        }
    </div>


    }

}
</div>
<div id="paging">
    <span id="page_up" class="hand">上一页</span>
    <span id="page_down" class="hand">下一页</span>
    <span>跳转到第</span>
    <input type="text" value="@ViewBag.page" />
    <span class="hand">GO</span>
    <span>当前第@(ViewBag.page)页</span>
    <span>共@(ViewBag.allpage)页</span>
    <span>共@(ViewBag.count)条记录</span>

</div>

<script>
    //上一页
    $("#page_up").click(function () {
        var temp = parseInt($("#page").val()) - 1;       
        $("#page").val(temp <= 0 ? 1 : temp);
        QuestionPaging();
    });
    //下一页
    $("#page_down").click(function () {
        var temp = parseInt($("#page").val()) + 1;
        var allpage=@(ViewBag.allpage)
        $("#page").val(temp > allpage ? allpage : temp);
        QuestionPaging();
    });

    function QuestionPaging()
    {
        var keyword=$("#keyword").val();
        var page = $("#page").val();
        window.location.href = "@Url.Action("SearchKeyword")?keyword=" + keyword + "&page=" + page;
    }

    function AddFav(o) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddFavorite")',
            data: { "Qid": o },
            success: function (str) {
                alert(str);
            }
        });
    }
    function GoDetail(o) {
        window.location.href = "@Url.Action("QuestionDetail")?Qid=" + o;
  }

</script>
